# OS directory info files
.DS_Store
desktop.ini

# node
node_modules

# static build
build
**/build
**/.svelte-kit

# secrets
.env
.env.*
!.env.example
cookies.json
cookies.txt

# docker
docker-compose.yml

# ide
.vscode
